@page
@model Swifty.Web.Pages.SkillSnapshots.ViewModel
@{
    ViewData["Title"] = "View Skill Snapshot";
}

<h1>View Skill Snapshot</h1>

// Hopefully should have everything we need behind this to do the view now (added mapping etc) but haven't checked yet
