@page
@model Swifty.Web.Pages.AdminPortalModel
@{
    ViewData["Title"] = "AdminPortal";
}

<h2><a href="~/SkillSnapshots/Admin/New">New Skill Snapshot</a></h2>

<hr/>

<h2>Setup</h2>

<ul>
    <li><a href="~/Setup/Skill/Index">Skills</a></li>
    <li><a href="~/Setup/SkillArea/Index">Skill Areas</a></li>
    <li><a href="~/Setup/SkillLevel/Index">Skill Levels</a></li>
</ul>

<h2>Admins</h2>

<ul>
    <li><a href="~/Setup/Admin/Index">Admins</a></li>
</ul>