@page
@model IndexModel
@{
    ViewData["Title"] = "Swifty";
}

<div class="text-center">
    Swifty is based on personalising the <a href="https://progression.monzo.com/">Monzo Progression Framework</a> into a user-interactive platform.
    <br/>
    Use the navbar at the top to navigate the relevant site areas.
</div>
