@page
@model Swifty.Web.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied</h1>

<b>I'm sorry, it appears you don't have the access rights to view this page within Swifty.</b>

