@page
@model Swifty.Web.AdminPortalModel
@{
    ViewData["Title"] = "AdminPortal";
}

<h2><a href="">New Skill Snapshot</a></h2>

<hr/>

@* The below may be needed if we can't find a way to check if user is Admin when normal Skill Board is displayed - we may need separate page for the editable stuff *@
@*<h2><a href="">Modify Skill Board</a></h2>*@

<h2>Setup</h2>

<ul>
    <li><a href="~/Setup/Skill/Index">Skills</a></li>
    <li><a href="~/Setup/Skill/Index">Skill Areas</a></li>
    <li><a href="~/Setup/Skill/Index">Skill Levels</a></li>
</ul>

@* ToDo - User and Admin setup? *@
@*<h2>Users</h2>*@
@*<h2>Admins</h2>*@
