@page
@model IndexModel
@{
    ViewData["Title"] = "Swifty";
}

<div class="text-center">
    Swifty is based on customising the <a href="https://progression.monzo.com/">Monzo Progression Framework</a> to our specific needs.
    <br/>
    Use the navbar at the top to navigate the relevant site areas.
</div>
